In [41]:
import http.client
import pandas as pd
import numpy as np
import json

In [49]:
df = pd.read_csv('task_2_training_download_form.txt', sep='\t',header=0, names=['id', 'uid', 'mid', 'tag'])
df

                      id              uid            mid  tag
0     416844926563778560     KelseyLHayes  med-int-10000    3
1     704041467338203136   lillyventura04  med-int-10001    3
2     260558957884633088    andiehiestand  med-int-10002    2
3     634235181935669248      Celestehxo2  med-int-10003    2
4     576940757128368128       _lexussssk  med-int-10004    1
...                  ...              ...            ...  ...
7994  590941986204430336   JanessaGleaton  med-int-17995    1
7995  707959308504305664       S_Cavallii  med-int-17996    1
7996  788971260239876096         britt20_  med-int-17997    1
7997  529684196479205376  Keezy_TaughtYou  med-int-17998    2
7998  676320685526933504    HotCheeteauxs  med-int-17999    3

[7999 rows x 4 columns]

In [62]:
df.loc[[2929]]

                      id           uid            mid  tag
2929  793001533856059393  SeaEagleSpur  med-int-12930    3

In [28]:
payload = ''
headers = {
  'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAH2jMQEAAAAAdzsxOiAgrZGAOaec6F2%2FFSF7zu8%3DMp5RXoPPkGgnyBrBYe43YlytYkmponbdt2MNZKbY388Bvm20DI',
  'Cookie': 'guest_id=v1%3A163644180435655454; personalization_id="v1_Y3yKoWCBhsMRxdG77CTgMw=="'
}

In [64]:
# 
text = pd.Series(np.ndarray(df.shape[0], dtype=str))

In [ ]:
for idx, id in enumerate(df.id):
    if idx <= 7184: # debug
        continue
    conn = http.client.HTTPSConnection("api.twitter.com")
    query = "/2/tweets/{}?tweet.fields=text,withheld".format(id)
    conn.request("GET", query, payload, headers)
    res = conn.getresponse()
    data = json.loads(res.read()) #.decode("utf-8")
    if 'errors' in data: # Tweet was deleted
        print(idx, 'Tweet was deleted')
        continue
    else:
        text[idx] = data['data']['text']
        print(idx, text[idx])

In [105]:
df['text'] = text
df.to_pickle('data.pkl')
df[df.text != ""]

In [149]:
pos_df = df[(df.text != "") & (df.tag == 1)]
neg_df = df[(df.text != "") & (df.tag != 1)]
pos_df['label'] = 1
neg_df['label'] = 0

In [156]:
raw_df = df
df = pd.concat([pos_df, neg_df], ignore_index=True)
df

,id,uid,mid,tag,text,clean_text,label
0,576940757128368128,_lexussssk,med-int-10004,1,Im miserably tired but can't sleep and still w...,im miser tire cant sleep still wait tylenol set,1
1,572787587401818113,amandadadesky,med-int-10008,1,"I'm on codeine, Zpack, Zyrtec, and 40mg of pre...",im codein zpack zyrtec prednison probabl goe w...,1
2,571475989307502592,MsBridgzIfUNast,med-int-10010,1,Still don't feel good n I took some Tylenol bu...,still dont feel good n took tylenol aint help,1
3,281203924881530880,kristeena123,med-int-10011,1,Tylenol is my bestfriend at the moment,tylenol bestfriend moment,1
4,519299237847498752,ayee_itskaylaa,med-int-10017,1,I took some Tylenol for my ear ache and now I ...,took tylenol ear ach head ach amp ear ach,1
...,...,...,...,...,...,...,...
5802,817876482181791744,NoraV3,med-int-17986,3,"I love the Carrie Fisher Prozac urn, but the s...",love carri fisher prozac urn sneaki paparazzi ...,0
5803,809186052158193668,ryessa_love,med-int-17987,3,Pretty sure the daughter and I will be going t...,pretti sure daughter go bed earli today she su...,0
5804,735661724926382080,rEEzy04,med-int-17993,3,@Avi_baby I've been giving her Tylenol. She's ...,avibabi ive give tylenol she got bit stuffi no...,0
5805,529684196479205376,Keezy_TaughtYou,med-int-17998,2,I took my baby to the hospital last night they...,took babi hospit last night gave tylenol codei...,0
5806,676320685526933504,HotCheeteauxs,med-int-17999,3,Why don't they send you home with Xanax when y...,dont send home xanax kid,0

# Text prepocessing

In [128]:
import nltk
import unicodedata
import re
import string
import pickle
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk import ngrams

In [313]:
def clean_text(text):
    '''
        Make text lowercase, remove text in square brackets,remove links,remove punctuation
        and remove words containing numbers.
    '''
    text = (unicodedata.normalize('NFKD', text)
    .encode('ascii', 'ignore')
    .decode('utf-8', 'ignore')
    .lower())
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text) # remove urls
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text) # remove punctuation
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

def preprocess_data(text):
    stemmer = nltk.PorterStemmer()
    text = clean_text(text)                                                     # Clean puntuation, urls, and so on
    text = ' '.join(stemmer.stem(word) for word in text.split())                # Stemm all the words in the sentence
    return text

In [314]:
df['clean_text'] = df.text.apply(preprocess_data)

In [315]:
df

,id,uid,mid,tag,text,clean_text,label,split
0,576940757128368128,_lexussssk,med-int-10004,1,Im miserably tired but can't sleep and still w...,im miser tire but cant sleep and still wait fo...,1,train
1,572787587401818113,amandadadesky,med-int-10008,1,"I'm on codeine, Zpack, Zyrtec, and 40mg of pre...",im on codein zpack zyrtec and of prednison pro...,1,train
2,571475989307502592,MsBridgzIfUNast,med-int-10010,1,Still don't feel good n I took some Tylenol bu...,still dont feel good n i took some tylenol but...,1,train
3,281203924881530880,kristeena123,med-int-10011,1,Tylenol is my bestfriend at the moment,tylenol is my bestfriend at the moment,1,train
4,519299237847498752,ayee_itskaylaa,med-int-10017,1,I took some Tylenol for my ear ache and now I ...,i took some tylenol for my ear ach and now i h...,1,train
...,...,...,...,...,...,...,...,...
5802,817876482181791744,NoraV3,med-int-17986,3,"I love the Carrie Fisher Prozac urn, but the s...",i love the carri fisher prozac urn but the sne...,0,train
5803,809186052158193668,ryessa_love,med-int-17987,3,Pretty sure the daughter and I will be going t...,pretti sure the daughter and i will be go to b...,0,train
5804,735661724926382080,rEEzy04,med-int-17993,3,@Avi_baby I've been giving her Tylenol. She's ...,avibabi ive been give her tylenol she got a bi...,0,val
5805,529684196479205376,Keezy_TaughtYou,med-int-17998,2,I took my baby to the hospital last night they...,i took my babi to the hospit last night they g...,0,test
5806,676320685526933504,HotCheeteauxs,med-int-17999,3,Why don't they send you home with Xanax when y...,whi dont they send you home with xanax when yo...,0,train

# SVM classifier

In [305]:
## sklearn
import sklearn.svm as svm
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate

## Scipy
from scipy.sparse import csr_matrix

In [369]:
df['split'] = np.random.choice(["train", "val", "test"], size=df.shape[0], p=[.8, .1, .1])
x_train = df[df["split"] == "train"]
y_train = x_train["label"]
x_val = df[df["split"] == "val"]
y_val = x_val["label"]

In [370]:
## Training pipeline
tf_idf = Pipeline([
     ('tfidf', TfidfVectorizer(ngram_range=(1,3))),
     ("classifier", svm.LinearSVC(C=5.5, class_weight="balanced"))
 ])

tf_idf.fit(x_train["clean_text"], y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer(ngram_range=(1, 3))),
                ('classifier', LinearSVC(C=5.5, class_weight='balanced'))])

In [380]:
## Confidence measure
f1_score(y_val, tf_idf.predict(x_val["clean_text"]))

0.6974789915966387

In [372]:
coefs = tf_idf.named_steps["classifier"].coef_
if type(coefs) == csr_matrix:
    coefs.toarray().tolist()[0]
else:
    coefs.tolist()
    
feature_names = tf_idf.named_steps["tfidf"].get_feature_names()
coefs_and_features = list(zip(coefs[0], feature_names))

In [377]:
top_grams = pd.DataFrame()
top_grams["anxity"] = sorted(coefs_and_features, key=lambda x: x[0], reverse=True)[:10]
for x in top_grams["anxity"]:
    print(x[0], '\t',x[1])

4.849975016537434 	 took
2.30061217712764 	 kick in
2.2253664497540777 	 ive
2.21342284161215 	 kick
2.189870769391324 	 feel
2.1432525502370434 	 work
1.9606920598207667 	 take ibuprofen
1.896702788248915 	 been
1.8509232291091076 	 still
1.8262697885829464 	 me

In [378]:
## Build train & test set 
X = df.clean_text
Y = df.label
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, random_state=20)

In [379]:
cv_metrics = cross_validate(tf_idf, X, Y, cv=5, scoring=['precision', 'recall', 'accuracy', 'f1'])
cv_metrics

{'fit_time': array([0.56112623, 0.55347872, 0.53275108, 0.69729209, 0.41333199]),
 'score_time': array([0.04630184, 0.05704331, 0.05797887, 0.05538917, 0.04392815]),
 'test_precision': array([0.62621359, 0.65975104, 0.6763285 , 0.65470852, 0.64454976]),
 'test_recall': array([0.57333333, 0.70666667, 0.62222222, 0.64888889, 0.60444444]),
 'test_accuracy': array([0.85111876, 0.87263339, 0.86907838, 0.86563307, 0.85874246]),
 'test_f1': array([0.59860789, 0.68240343, 0.64814815, 0.65178571, 0.62385321])}